Source: ibarr
Section: net
Priority: optional
Maintainer: Tzafrir Cohen <nvidia@cohens.org.il>
Build-Depends: debhelper (>= 9),
 cmake,
 libnl-3-dev,
 libnl-route-3-dev,
 libibverbs-dev,
 libibumad-dev,
 pkgconf | pkg-config,
Standards-Version: 4.5.0
Homepage: https://github.com/Mellanox/ip2gid/
Vcs-Browser: https://github.com/Mellanox/ip2gid/
Vcs-Git: https://github.com/Mellanox/ip2gid/

Package: ibarr
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nvidia address and route userspace resolution services for Infiniband
 a userspace application that interacts over NetLink with the Linux RDMA
 subsystem and provides 2 services: ip2gid (address resolution) and gid2lid
 (PathRecord resolution).
